<p>{{telefono}}</p>
<p>{{direccion}}</p>
<p>{{fecha}}</p>
<p>{{rol}}</p>
<p>{{nombre}}</p>

<footer class="bg-danger py-2">
    <div class="container-sm text-center">
        <div class="row d-flex flex-row align-items-center">
            <div class="col-sm-3 d-flex flex-column">
                <h5>Seguinos en las redes</h5>
                <ul class="ul-contact">
                    <li><i class="bi bi-facebook p-2"></i>
                        <Link to="#">Faccebok</Link>
                    </li>
                    <li><i class="bi bi-instagram p-2"></i>
                        <Link to="#">Instagram</Link>
                    </li>
                    <li><i class="bi bi-twitter p-2"></i>
                        <Link to="#">Twitter</Link>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 d-flex flex-column">
                <h5>Necesitas que enviemos un representante?</h5>
                <form>
                    <input type="text" class="form-control my-1" placeholder="Nombre" aria-label="Nombre"></input>
                    <input type="text" class="form-control my-1" placeholder="Localidad" aria-label="Localidad"></input>
                    <input type="text" class="form-control my-1" placeholder="Direccion"></input>
                    <textarea class="form-control my-1" placeholder="Mensaje" aria-label="Mensaje"></textarea>
                    <button class="btn btn-primary my-1" type="submit">Enviar</button>
                </form>
            </div>
            <div class="col-sm-3 d-flex flex-column">
                <ul class="ul-contact">
                    <li><i class="bi bi-telephone-inbound-fill p-2"></i><span>Telefono: 34134134134</span></li>
                    <li><i class="bi bi-envelope-fill p-2"></i><span>contacto@distribuidoraX.com.ar</span></li>
                    <li><i class="bi bi-geo-alt-fill p-2"></i><span>Cordoba 1234, Rosario, Santa Fe</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h6 class="container text-center">Todos los derechos reservados y la sarasa</h6>
        </div>
    </div>
</footer>